@import "tailwindcss";

:root {
  --leather: #181818;
  --pearl: #F8F8F8;
  --ivory: #EFEDEC;
  --khaki: #DEDACF;
  
  --background: var(--pearl); 
  --foreground: var(--leather);
}

@theme inline {
  --color-leather: var(--leather);
  --color-pearl: var(--pearl);
  --color-ivory: var(--ivory);
  --color-khaki: var(--khaki);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 768px) {
  html, body {
    cursor: none !important;
  }
  
  a, button, .cursor-pointer, input, textarea {
    cursor: none !important;
  }
}





[data-framer-appear="false"] {
  opacity: 0;
}